#preloader {
    width: 100%;
    height: 100vh;
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-loader;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

.preloader-logo {
    height: 250px;
    width: 200px;
    animation: logoRotate 1.8s 0.1s ease-out infinite;
}

@keyframes logoRotate {
    to {
        transform: rotateY(360deg);
        -webkit-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
    }
}

.preloader-fade {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e05757;
    z-index: 1001;
    animation: preloaderFade 2s 2s cubic-bezier(0.57, -0.06, 0.35, 1.82)
        forwards;
}

@keyframes preloaderFade {
    to {
        height: 0;
    }
}

.preloader-overflow-hidden {
    overflow: hidden;
    height: 100vh;
}
